
main{
    height: 90vh;
    width: 100vw;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #787878;
    height: 100%;
    width: 100%;
    margin: .5rem;
    border: solid .7rem #fff;
    overflow: hidden ;
    overflow-y: scroll;
    padding: .5rem;
    border-radius: .6rem;
}

.container::-webkit-scrollbar{
    width: .8rem;
    background: #656565;
    scroll-padding: 10px;
}

.container::-webkit-scrollbar-thumb{
    background: blue;
    border-radius: .6rem;
}