<header>
    <nav class="navbar">
        <div class="links_div">
            <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Posts</a></li>
            </ul>
        </div>

        
        <div class="logo">
            <a href="#" >
                <img src="../../../assets/logo.png" alt="">
            </a>
        </div>
        
        <div class="action_div">
            <ul class="links">
                <li><a href="#">Iniciar Sesion</a></li>
                <li><a href="#">Registrate</a></li>
            </ul>
        </div>
    </nav>



<!--DROPDOWN MENU RESPONSIVE-->

    <div *ngIf="dropdownMenuResponsive">
        <div [ngClass]="'dropdown_menu_responsive'">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Posts</a></li>
            <li><a href="#">Iniciar Sesion</a></li>
            <li><a href="#">Registrarte</a></li>
            <li><a href="#">Config</a></li>
        </div>
    </div>

</header>
