<header>
    <nav class="navbar">

        <div class="links_div">
            <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Posts</a></li>
            </ul>
        </div>

        
        <div class="logo">
            <a href="#" >
                <img src="../../../assets/logo.png" alt="">
            </a>
        </div>
         
        <div class="action_div">
            <ul class="links">
                <li><a href="#">Iniciar Sesion</a></li>
                <li><a href="#">Registrate</a></li>
                <li><a href="#">Config</a></li>
            </ul>
        </div>
        <div class="toggle_btn">
             <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-layout-sidebar-inset-reverse" viewBox="0 0 16 16" (click)="responsiveMenu()">
                <path d="M2 2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h12z"/>
                <path d="M13 4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V4z"/>
          </svg>
        </div>
    </nav>



<!--DROPDOWN MENU RESPONSIVE-->

    <div *ngIf="dropdownMenuResponsive">
        <div [ngClass]="'dropdown_menu_responsive'">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Posts</a></li>
            <li><a href="#">Iniciar Sesion</a></li>
            <li><a href="#">Registrarte</a></li>
            <li><a href="#">Config</a></li>
        </div>
    </div>

</header>
