

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
}
a:hover{
    color:rgb(25, 81, 41);
    scale: 1.05;
}
/*HEADER*/

header{
    position: relative;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(200, 200, 200, 0.3);
    backdrop-filter: blur(15px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navbar .logo img{
    font-size: 1rem;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.links_div{
    width: 190px;
}
.navbar .links{
    display: flex ;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 12px;
}
.action_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
}



/*DROPDOWN MENU*/

.dropdown_menu_responsive{
    position: absolute;
    margin-top: 3px;
    right: 2rem;
    top: 60px;
    width: 300px;
    background-color: rgba(200, 200, 200, 0.3);
    backdrop-filter: blur(17px);
    border-radius: 10px;
}
.dropdown_menu_responsive{
    height: 260px;
}
.dropdown_menu_responsive li{
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu_responsive .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*RESPONSIVE DESIGN*/
@media(max-width:992px){
    .navbar .links_div,
    .navbar .action_div{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar .toggle_btn{
        display: block;
    }
}

@media(max-width: 476px){
    .dropdown_menu_responsive{
        left: 2rem;
        width: unset;
    }
}
 